<footer class="footer">
    <div class="container-fluid">
        <ul class="nav" style="width:max-content">
        <li class="nav-item" style="margin:auto 5px">
            <a href="https://twitter.com/easwapHQ" target="_blank">
            <button class="btn btn-icon btn-twi">
                <i class="fab fa-twitter"></i>
            </button>
            </a>
        </li>
        <li class="nav-item" style="margin:auto 5px">
            <a href="https://t.me/joinchat/Hzn8rA1IZZCww_29twxLQw" target="_blank">
            <button class="btn btn-icon btn-telegram">
                <i class="fab fa-telegram-plane"></i>
            </button>
            </a>
        </li>
        <li class="nav-item" style="margin:auto 5px">
            <a href="https://github.com/KaymasJain/easwap" target="_blank">
            <button class="btn btn-icon btn-git">
                <i class="fab fa-github"></i>
            </button>
            </a>
        </li>
        <li class="nav-item" style="margin:auto 5px">
            <a href="https://medium.com/easwap" target="_blank">
            <button class="btn btn-icon btn-medium">
                <i class="fab fa-medium-m"></i>
            </button>
            </a>
        </li>
        <li class="nav-item" style="margin:auto 5px">
            <a href="mailto:info@easwap.com" target="_blank">
            <button class="btn btn-icon btn-mail">
                <i class="fas fa-envelope"></i>
            </button>
            </a>
        </li>
        </ul>
        <div class="copyright">
        Powered by
        <a href="https://kyber.network/" target="_blank">Kyber network</a>.
        </div>
    </div>
</footer>