<!-- Modal -->
<div class="modal fade" id="depositEth" tabindex="-1" role="dialog" aria-labelledby="ethDeposit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DEPOSIT ETH</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="0" class="form-control inputTrade depositEthInput" placeholder="0.00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="depositFinally">DEPOSIT</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="withdrawEth" tabindex="-1" role="dialog" aria-labelledby="ethWithdraw" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WITHDRAW ETH</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="0" class="form-control inputTrade withdrawEthInput" placeholder="0.00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">WITHDRAW</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="depositToken" tabindex="-1" role="dialog" aria-labelledby="depositToken" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DEPOSIT {{coinName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="0" class="form-control inputTrade depositTokenInput" placeholder="0.00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">DEPOSIT</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="withdrawToken" tabindex="-1" role="dialog" aria-labelledby="withdrawToken" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WITHDRAW {{coinName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="0" class="form-control inputTrade withdrawTokenInput" placeholder="0.00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">WITHDRAW</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="depositKnc" tabindex="-1" role="dialog" aria-labelledby="depositKnc" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DEPOSIT KNC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="0" class="form-control inputTrade depositKncInput" placeholder="0.00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">DEPOSIT</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="withdrawKnc" tabindex="-1" role="dialog" aria-labelledby="withdrawKnc" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WITHDRAW KNC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" min="0" class="form-control inputTrade withdrawKncInput" placeholder="0.00">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">WITHDRAW</button>
      </div>
    </div>
  </div>
</div>