<div class="navbar-minimize-fixed">
    <button class="minimize-sidebar btn btn-link btn-just-icon">
    <i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
    <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
    </button>
</div>
<div class="sidebar sidebarEdit">
    <div class="sidebar-wrapper">
    <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-mini">
        0x
        </a>
        <a href="javascript:void(0)" class="simple-text logo-normal addressCon">
        0xxxxx...xxxx
        </a>
    </div>
    <ul class="nav">
        <li class="{{active.trade}}">
        <a href="/">
            <i class="tim-icons icon-refresh-02">{# <img src="img/knc_icon.svg"> #}</i>
            <p style="font-size:12px">KYBER TRADE</p>
        </a>
        </li>
        <li class="{{active.lister}}">
        <a href="/lister">
            <i class="tim-icons icon-notes"></i>
            <p style="font-size:12px">RESERVE LISTER</p>
        </a>
        </li>
        <li class="{{active.orderbook}}">
            <a data-toggle="collapse" href="#pagesExamples">
              <i class="tim-icons icon-watch-time"></i>
              <p style="font-size:12px">ORDERBOOK<b class="caret"></b></p>
            </a>
            <div class="collapse" id="pagesExamples">
              <ul class="nav" id="orderbooks">
                  
              </ul>
            </div>
        </li>
    </ul>
    <div class="sideBottomBox">
        <div class="sidebarBottom">
        <div class="nav-item">
            <a href="https://twitter.com/easwapHQ" target="_blank">
            <button class="btn btn-icon btn-twi">
                <i class="fab fa-twitter"></i>
            </button>
            </a>
        </div>
        <div class="nav-item">
            <a href="https://t.me/joinchat/Hzn8rA1IZZCww_29twxLQw" target="_blank">
            <button class="btn btn-icon btn-telegram">
                <i class="fab fa-telegram-plane"></i>
            </button>
            </a>
        </div>
        <div class="nav-item">
            <a href="https://github.com/KaymasJain/easwap" target="_blank">
            <button class="btn btn-icon btn-git">
                <i class="fab fa-github"></i>
            </button>
            </a>
        </div>
        <div class="nav-item">
            <a href="https://medium.com/easwap" target="_blank">
            <button class="btn btn-icon btn-medium">
                <i class="fab fa-medium-m"></i>
            </button>
            </a>
        </div>
        <div class="nav-item">
            <a href="mailto:info@easwap.com" target="_blank">
            <button class="btn btn-icon btn-mail">
                <i class="fas fa-envelope"></i>
            </button>
            </a>
        </div>
        </div>
    </div>
    </div>
</div>