<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
        <div class="navbar-minimize d-inline">
            <button class="minimize-sidebar btn btn-link btn-just-icon sidebarAdjust" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right">
            <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
            <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
            </button>
        </div>
        <div class="navbar-toggle d-inline">
            <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <a class="navbar-brand" href="javascript:void(0)">Kyber Trade</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
            <li class="search-bar input-group">
                <div class="networkName">
                <button class="btn btn-warning animation-on-hover" type="button">SEARCHING NETWORK</button>
                </div>
                <div class="modalProviderBox"></div>
            </li>
            <li class="search-bar input-group">
                <div class="navUserAdd nav-item">
                    <button class="btn btn-info btn-simple animation-on-hover btn-sm" type="button">
                    <a class="navbar-brand" href="etherscan.io" target="_blank">GETTING YOUR ADDRESS</a>
                    </button>
                </div>
            </li>
            </ul>
        </div>      
    </div>
</nav>
<!-- End Navbar -->