{% extends "templates/index.html" %}
{% block content %}

<h1 class="text-center" style="margin-top: 30px">LIST NEW RESERVES</h1>

<div class="listerInput">
    <input type="text" class="form-control" placeholder="Coin Address" id="listerInput">
</div>

<div class="listBut">
    <button class="btn btn-success animation-on-hover btn-lg h2"  type="button">LIST</button>
</div>

<div class="listerSepLine"></div>

<h1 class="text-center" style="margin-top: 30px">LISTED RESERVES</h1>

<div class="listedTokensContainer">
    <!--PML Reserves List -->
</div>


{% endblock %}

{% block lastContent %}

<script src="js/lister/varDefines.js"></script>
<script src="js/lister/abi.js"></script>
<script src="js/lister/afterWeb3Check.js"></script>
<script src="js/lister/alert.js"></script>
<script src="js/lister/contractFunctions.js"></script>
<script src="js/lister/main.js"></script>
<script src="js/lister/update.js"></script>

{% endblock %}