{% extends "templates/index.html" %}

{% block content %}

<div style="display:none">
    <div id="coinCmcName">{{ coinData.cmcName }}</div>
    <div id="coinContractAdd">{{ coinData.contractAddress }}</div>
    <div id="coinDecimals">{{ coinData.decimals }}</div>
    <div id="coinName">{{ coinData.name }}</div>
    <div id="coinSymbol">{{ coinData.symbol }}</div>
</div>

<h1 class="text-center" style="margin-top:30px;margin-bottom:50px">ORDERBOOK OF {{ coinName }}</h1>

<div class="reserveStatsContainer">
    <div class="reserveStatsBox">
        <div class="bookTitleLogoBox">
            <div class="bookCoinName">ETH</div>
            <div class="bookCoinLogo"><img src="logos/eth.svg" height="64px" width="64px"></div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Unlocked</div>
            <div class="bookDepositQty" id="ethUnlocked">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Locked</div>
            <div class="bookDepositQty" id="ethLocked">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">ETH/USD</div>
            <div class="bookDepositQty" id="ethRate">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Value(USD)</div>
            <div class="bookDepositQty" id="ethValue">0</div>
        </div>
        <div class="depositWithdrawButBox">
            <div class="depositButBox">
                <button class="btn btn-success animation-on-hover h2" type="button" data-toggle="modal" data-target="#depositEth">DEPOSIT</button>
            </div>
            <div class="withdrawButBox">
                <button class="btn btn-warning animation-on-hover h2" type="button" data-toggle="modal" data-target="#withdrawEth">WITHDRAW</button>                
            </div>
        </div>
    </div>
    <div class="reserveStatsBox">
        <div class="bookTitleLogoBox">
            <div class="bookCoinName">{{ coinName }}</div>
            <div class="bookCoinLogo"><img src="logos/{{ coinName | lower }}.svg" height="64px" width="64px"></div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Unlocked</div>
            <div class="bookDepositQty" id="tokenUnlocked">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Locked</div>
            <div class="bookDepositQty" id="tokenLocked">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">{{ coinName }}/USD</div>
            <div class="bookDepositQty" id="tokenRate">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Value(USD)</div>
            <div class="bookDepositQty" id="tokenValue">0</div>
        </div>
        <div class="depositWithdrawButBox">
            <div class="depositButBox">
                <button class="btn btn-success animation-on-hover h2" type="button" data-toggle="modal" data-target="#depositToken">DEPOSIT</button>
            </div>
            <div class="withdrawButBox">
                <button class="btn btn-warning animation-on-hover h2" type="button" data-toggle="modal" data-target="#withdrawToken">WITHDRAW</button>                
            </div>
        </div>
    </div>
    <div class="reserveStatsBox">
        <div class="bookTitleLogoBox">
            <div class="bookCoinName">KNC</div>
            <div class="bookCoinLogo"><img src="logos/knc.svg" height="64px" width="64px"></div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Unlocked</div>
            <div class="bookDepositQty" id="kncUnlocked">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Locked</div>
            <div class="bookDepositQty" id="kncLocked">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">KNC/USD</div>
            <div class="bookDepositQty" id="kncRate">0</div>
        </div>
        <div class="bookDepositBox">
            <div class="bookDepositTitle">Value(USD)</div>
            <div class="bookDepositQty" id="kncValue">0</div>
        </div>
        <div class="depositWithdrawButBox">
            <div class="depositButBox">
                <button class="btn btn-success animation-on-hover h2" type="button" data-toggle="modal" data-target="#depositKnc">DEPOSIT</button>
            </div>
            <div class="withdrawButBox">
                <button class="btn btn-warning animation-on-hover h2" type="button" data-toggle="modal" data-target="#withdrawKnc">WITHDRAW</button>                
            </div>
        </div>
    </div>
</div>

{# <div class="addOrderBox">
    <div class="EthTokenBox">
        <div class="EthTokenCon">
            <img src='/logos/eth.svg' height='44px' width='44px'>
            <div class="coinOrderQty">2</div>
            <div class="coinName">ETH</div>
        </div>
        <div class="toggleIconCon">
            <i class="tim-icons icon-double-right toggleIcon"></i> 
        </div>
        <div class="EthTokenCon">
            <div class="coinOrderQty">23</div>
            <div class="coinName">APPC</div>
            <img src='/logos/APPC.svg' height='44px' width='44px'>
        </div>
    </div>
    <div class="EthTokenBox">
        <div class="EthTokenCon"></div>
    </div>
</div> #}

<h2 class='text-center' id="ethToTokenOrdersTitle" style='margin:50px auto' hidden>Eth to {{coinName}} Orders</h2>

<div id="ethToTokenOrders"></div>
{# <div class="yourPriceBox">
    <div class="ethCoinPriceBox">
        <div class="ETHQtyLogo">
            <div><img src="/logos/eth.svg" height="44px" width="44px"></div>
            <div class="coinOrderNameQty">1 ETH</div>
        </div>
        <div style="margin-top:auto;margin-bottom:auto"><i class="tim-icons icon-double-right"></i></div>
        <div class="ETHQtyLogo">
            <div class="coinOrderNameQty">1 APPC</div>            
            <div><img src="/logos/appc.svg" height="44px" width="44px"></div>
        </div>
    </div>
    <div class="updateCancelBut">
        <div>
            <button class='btn btn-success animation-on-hover h2 btn-lg' type='button' onclick='updateOrder("id")' style="margin-bottom: 0px">UPDATE</button>
        </div>
        <div>
            <button class='btn btn-danger animation-on-hover h2 btn-lg' type='button' onclick='updateOrder("id")' style="margin-bottom: 0px">CANCEL</button>
        </div>
    </div>
</div> #}

<h2 class='text-center' id="tokenToEthOrdersTitle" style='margin:50px auto' hidden>{{coinName}} to ETH Orders</h2>

<div id="tokenToEthOrders"></div>

<h2 class='text-center' style='margin:50px auto'>Add Orders</h2>

<div class="yourPriceBox">
        
    <div class="addNewOrderBox">
        <div class="addNewTitle">ETH <i class="tim-icons icon-double-right" style="margin: auto 20px"></i> {{coinName}}</div>
        <button class='btn btn-success animation-on-hover h2 btn-lg' type='button' style="margin-bottom: 0px">ADD ORDER</button>
    </div>
    <div class="addNewOrderBox">
        <div class="addNewTitle">{{coinName}} <i class="tim-icons icon-double-right" style="margin: auto 20px"></i> ETH</div>
        <button class='btn btn-success animation-on-hover h2 btn-lg' type='button' style="margin-bottom: 0px">ADD ORDER</button>
    </div>
</div>

{% include "partials/modals.html" %}
{% endblock %}


{% block lastContent %}

<script src="js/orderbook/varDefines.js"></script>
<script src="js/orderbook/afterWeb3Check.js"></script>
<script src="js/index.v1.js"></script>
<script src="js/orderbook/alert.js"></script>
<script src="js/orderbook/abi.js"></script>
{# <script src="js/orderbook/uiModifiers.js"></script> #}
<script src="js/orderbook/main.js"></script>
<script src="js/orderbook/main2.js"></script>
{# <script src="js/orderbook/deposit.js"></script> #}

{% endblock %}
