{% extends "templates/index.html" %}
{% block content %}

<h1 class="text-center" style="margin-top: 30px">LIST OF ALL ORDERBOOKS</h1>

<div class="tokensTrackerContainer">
    <!--Divs with all the orderbooks -->
</div>


{% endblock %}

{% block lastContent %}

<script src="js/tracker/varDefines.js"></script>
<script src="js/tracker/abi.js"></script>
<script src="js/tracker/afterWeb3Check.js"></script>
<script src="js/tracker/alert.js"></script>
<script src="js/tracker/contractFunctions.js"></script>
<script src="js/tracker/main.js"></script>

{% endblock %}