.reserveStatsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    max-width: 1200px;
    width: 95%;
    margin: auto;
    font-family: var(--font-family-sans-serif);
    color: var(--light);
}

.reserveStatsBox {
    background-color: var(--box-background);
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px var(--default);
}

.bookTitleLogoBox {
    display: flex;
    justify-content: space-evenly;
}

.bookCoinName {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 28px;
}

.bookDepositBox {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    font-size: 18px;
}

.depositWithdrawButBox {
    display: flex;
    justify-content: space-evenly;
}

.yourPriceBox {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    color: var(--light);
    background-color: var(--box-background);
    box-shadow: 0px 0px 2px 2px var(--default);
    border-radius: 8px;
}

.ethCoinPriceBox {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-bottom: auto;
    margin-top: auto;
}

.ETHQtyLogo {
    display: flex;
    font-size: 28px;
}

.coinOrderNameQty {
    padding: 0px 20px;
}

.updateCancelBut {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.addNewOrderBox {
    margin: auto;
}

.addNewTitle {
    font-size: 24px;
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
}

.addNewOrderBox button {
    font-size: 20px;
}

.inputModels {
    color: var(--background);
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    max-width: 250px;
}

.inputModels:focus {
    color: var(--background);
}