@import url('https://fonts.googleapis.com/css?family=Abel|Teko');

.navList a:hover {
    color: var(--background) !important;
}

.daiEthDescBox {
    display: flex;
    max-width: 1200px;
    width: 95%;
    margin: 40px auto;
    margin-top: 20px;
    justify-content: space-between;
    color: var(--light);
}

.boxEth,
.boxDai {
    width: 25%;
}

.boxEthMob {
    display: none;
}

.descSwapLine {
    width: 40%;
    height: max-content;
    margin: auto;
}

.showHideQtyBox {
    margin: auto;
    margin-top: 10px;
    width: max-content;
}

.tradeDataContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 30px;
    max-width: 1200px;
    width: 95%;
    margin: auto;
    font-family: var(--font-family-sans-serif);
    color: var(--light);
}

.selectCoinBox {
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--box-background);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s linear;
    color: var(--main-white);
    border: 0px solid var(--primary);
}

.selectCoinBox:hover {
    color: var(--white);
    box-shadow: 0px 0px 4px 4px var(--primary);
    transform: translateY(-5px);
}

.logoNameBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    height: 60px;
}

.logoBox,
.nameBox,
.nameCodeBox {
    margin: auto;
}

.logoBox {
    width: 40%;
}

.nameBox {
    font-size: 20px;
    margin-bottom: 3px;
    font-family: 'Abel', sans-serif;
}

.nameToken {
    font-size: 10px;
}

.coinsQtyBox {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.easSwapBox {
    display: none;
    width: max-content;
    height: max-content;
    margin: 50px auto auto auto;
    box-shadow: 0px 0px 2px 2px var(--primary);
    border-radius: 10px;
    color: var(--light);
    padding-top: 20px;
    max-width: 900px;
    position: relative;
}

.closeTradeIcon {
    position: absolute;
    top: 10px; 
    right: 10px;
}

.closeTradeIcon button i {
    color: var(--lighter);
}

.closeTradeIcon button i:hover {
    color: var(--warning);
}

.tradeInputContainer {
    display: flex;
    padding: 20px;
    width: max-content;
    margin: auto;
    box-sizing: border-box;
    color: var(--lighter);
}

.coinTradeBox {
    display: flex;
}

.imgNameSymbolBox {
    display: flex;
}

.tradeImgCon {
    margin: auto 10px;
}

.coinNameSym {
    margin: auto 10px;
    max-width: 60px;
    text-align: center;
}

.coinSymbol {
    font-size: 20px;
    text-align: center;
}

.coinFullName {
    font-size: 12px;
}

.inputTradeBox {
    margin: auto 10px;
    max-width: 193.38px; 
}

.inputTrade {
    font-size: 16px;
}

.ArrowIcon {
    margin: auto 20px;
    cursor: pointer;
}

#toggleCoin {
    font-size: 10px;
}

.toggleIconCon {
    margin: auto;
    width: max-content;
}

.toggleIcon {
    font-size: 24px;
    text-align: center;
    width: max-content;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.coinConversionRate {
    text-align: center;
}

.swapAllBox {
    display: flex;
    margin: 30px auto;
    justify-content: space-evenly;
    width: 90%;
    max-width: 800px;
}

.allButbox {
    margin: auto;
    display: flex;
    height: max-content;
    width: max-content;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}

.allQty {
    font-size: 16px;
    margin: auto 10px;
}

.tradeAllBut {
    font-size: 14px;
    height: max-content;
    margin: auto 10px;
}

.swapButBox {
    margin: auto;
    width: max-content;
}

.swapBut {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
}

.advanceColSet {
    margin: auto;
    width: 90%;
}

.advanceBoxInTitle {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.finalGasPriceBox,
.finalMinRateBox {
    padding: 0px;
    margin-bottom: 20px;
}

.finalGasPrice,
.finalMinRate {
    font-size: 20px;
}

.priceButBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.minConRateText {
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    max-width: 300px;
}

.searchBar {
    position: fixed;
    right: 10px;
    width: max-content;
    height: max-content;
    max-height: calc(100% - 95px);
    overflow-y: scroll;
    transition: opacity 0.4s ease-out;
}


.searchButBox {
    position: relative;
    width: max-content;
}

.selectedChar {
    display: none;
    position: absolute;
    top: 2px;
    right: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid var(--background);
}

.sidebarEdit:hover .sidebarBottom {
    display: flex;
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 880px) {
    .boxEth,
    .boxDai {
        width: 30%;
    }
    .descSwapLine {
        width: 35%;
    }
    .tradeInputContainer {
        display: block;
    }
    .ArrowIcon {
        margin: 20px auto;
    }
    .toggleIconCon {
        transform: rotate(90deg);
    }
    #toggleCoin {
        text-align: center;
    }
    .swapAllBox {
        display: block;
    }
    .advanceSecBox {
        display: block;
    }
    .gasMinCon {
        width: 90%;
    }
    .swapBut {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .tradeDataContainer,
    .daiEthDescBox {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {

    .sidebarBottom {
        display: flex;
    }

    .coinTradeBox {
        display: block;
    }

    .easSwapBox {
        width: 275.5px;
    }

    .imgNameSymbolBox {
        margin: 20px auto;
        width: max-content;
    }
    
    .imgNameSymbolBox:first-of-type {
        margin-top: 0px;
    }

    .tradeDataContainer {
        width: calc(100% - 80px);
        margin-left: 20px;
    }

    .daiEthDescBox {
        display: block;
        width: calc(100% - 80px);
        margin-left: 20px;
    }

    .boxEth {
        display: none;
    }

    .boxEthMob,
    .boxDai {
        width: 100%;
        display: block;
        margin: 20px auto;
    }

    .descSwapLine {
        width: 100%;
    }

    .gasButText {
        font-size: 10px;
    }

    .minConRateText {
        max-width: 200px;
    }

}

@media only screen and (max-width: 400px) {
    .footer {
        width: calc(100% - 80px) !important;
    }
    .copyright {
        margin: auto;
    }
}

@-webkit-keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
}

@keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
              opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
              opacity: 0;
    }
}

@-webkit-keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
              opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
              opacity: 1;
    }
}
@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                opacity: 1;
    }
}
  